html {
    text-align: center;
}

body {
    background: url(../img/a01.gif);
}

h1 .chosen{
    color: #15d102;
}
table {
    width: 700px;
    height: 500px;
    border: 3px solid red;
    margin: 0 auto;
    text-align: justify
}
th, tr {
        border: solid 2px  magenta;
}
.characteristic {
    width: 20s0px;
}